body {
  background-image: url('./uploadImage/Logo/laundry.jpg');
  background-size: cover;

  margin: 0;
}

/* Styles for the navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav .logo {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navbar li a:hover {
  border-bottom-color: #3498db;
  color: #3498db;
}

/* Styles for the container */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 999;
  text-align: center;
}

.container2{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 999;
  padding: 40px;
  width: 500px;  
  
}

.container3{
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 999;
  padding: 20px;
  width: 300px;  
  
}

.container4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 999;
  text-align: center;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;

}

.file-input-container label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

input[type="email"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

input[type="password"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}
input[type="number"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

input[type="date"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}
input[type="todays_date"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
  color: #333;
  margin: 0 0 20px;
  text-align:center
}

.container h2 {
  font-size: 48px;
  color: #333;
  margin: 0 0 20px;
  
}

.container p {
  font-size: 24px;
  color: #333;
  margin: 0;
}

label {
  display: block;
  padding:10px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  
}

button[type="submit"]:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  
}

button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  
}

button[type="button"]:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  
}

.table {
  width: 100%;
  border-collapse: collapse;
  
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #e6e6e6;
}

.profile-icon2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon2 img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
}

